[2020-03-17 04:46] unnat opened #74 "PILLOW_VERSION depracated in 7.0.0"
`pipenv run python main.py object_nav_thor_ppo` gives an error:
[code]
[This](https://github.com/python-pillow/Pillow/issues/4130) suggests to either downgrade to `pillow==6.1` or to change the torchvision source code. The former edit does work.

[2020-03-17 20:06] #74 closed, assigned to nobody

[2020-04-30 22:27] rowanz opened #77 "Possible bug in how recurrent models are storing their hidden state"
I think (but am not 100% sure) that there's a bug here:

https://github.com/allenai/embodied-rl/blob/eb330eff7187e9b1beb77c3d2a67a6370211b822/onpolicy_sync/storage.py#L199
`self.recurrent_states` is shape [T, num_layers, num_processors, h].

If my understanding is correct, then this line seems to take the cached recurrent state at timestep 0 only, which later gets used to do a training update. tho

[2020-04-30 22:48] #77 closed, assigned to nobody

[2020-05-10 20:15] prithv1 opened #79 "Incorrect link to experiments doc in README"
The link to the doc **run your first experiment** seems incorrect in the README. The path to the markdown file needs to be changed from [./overview/running-your-first-experiment.md](url) to [./docs/overview/running-your-first-experiment.md](url)

[2020-05-12 22:42] prithv1 opened #81 "Incorrect import for resnet based actor-critic model"
The following line  https://github.com/allenai/embodied-rl/blob/c299cc9e8a1075c801f7e7b4d9c21264c401f71d/experiments/objectnav_robothor_rgb_ddppo.py#L14 importing the ResNet backbone based actor critic model should be changed to
`from models.resnet_tensor_object_nav_models import ResnetTensorObjectNavActorCritic`

[2020-07-31 17:57] #81 closed, assigned to nobody

[2020-08-05 20:21] Lucaweihs opened #108 "Unflatten tensors in RolloutStorage"
## Problem

In the rollout storage, we currently flatten tensors along some dimensions (combining the rollout index dim and the time dim into one). This is awkward and means that every actor critic model needs to remember this arbitrary ordering.

## Solution

Let's stop flattening and fix existing models to expect these unflattened tensors (fixing the `RNNStateEncoder` should go a long way toward

[2020-08-05 20:56] Lucaweihs opened #109 "Multi-agent support"
## Problem

We do not currently support multiple agents.

## Solution

To support multiple agent's we'll need to:

* Extend the `Task` abstraction (and also `VectorSampledTasks`) to:
    * Accept multiple actions at once, e.g. the step should change from `action: int` to `Union[int, Sequence[int]]`.
    * Return a sequence of rewards and observations (one for each agent). I don't know if we'd rath

[2020-08-05 21:00] Lucaweihs opened #110 "Multi-agent furniture moving/lifting support"
## Problem

We would like to support the multi-agent FurnMove and FurnLift tasks we have introduced in prior work.

## Solution

We will need to implement the `Task`, `TaskSampler`, and models from https://github.com/allenai/cordial-sync.

## Dependencies

This should only be undertaken after multi-agent support is in (#109).

[2020-08-05 22:42] Lucaweihs opened #111 "Off-policy training"
## Problem

The ADVISOR code-base has support for interleaving off-policy updates (from an arbitrary pytorch dataset and with arbitrary losses) with on-policy updates. It would be great to have similar capabilities here. In particular, we should be able to:

1. Define a pipeline stage so that it performs some fixed number of off-policy updates.
2. Allow for off-policy updates to be interleaved wit

[2020-08-05 22:45] Lucaweihs opened #112 "Control over logging level"
## Problem

There should be a command line argument allowing us to control the logging level (i.e. DEBUG, ERROR, etc). This is especially necessary when running many experiments at the same time (e.g. in hyperparameter search) in which training outputs is mostly useless.

## Solution

This requires:

* A better logging strategy that propagates the settings to forked processes.

## Dependencies

No

[2020-08-05 22:48] Lucaweihs opened #113 "Disable saving (tensorboard) log files"
## Problem

We should be able to disable tensorboard logging from the command line. We also need the option to skip other type of logging (e.g. saving to the `used_configs` folder).

## Solution

Hopefully this is as easy as passing a few additional parameters to the runner.

## Dependencies

None

[2020-08-05 22:52] Lucaweihs opened #114 "Tutorial: running inference on the habitat 75M and RoboTHOR 200M models."
## Problem

We would like a tutorial on running inference with the above models.

## Solution

This requires:

* Writing the tutorial.
* Writing the code to be able to download the appropriate model weights.

## Dependencies

None

[2020-08-05 23:00] Lucaweihs opened #115 "Tutorial: Warm-starting with Imitation Learning"
## Problem

We would like a tutorial which demonstrates how to use multiple `PipelineStage`s. To this end lets make a tutorial showing how to warm start with imitation learning. As @unnat as already implemented such experiment configurations for the LC Corrupt S15N7 task (and these are in the paper) we should probably just use these.

## Solution

This requires:

* Merging the relevant ADVISOR con

[2020-08-05 23:27] Lucaweihs opened #116 "Freeze class-level experiment attributes"
## Problem

Currently there is nothing preventing a user from changing the values of class-level attributes of `ExperimentConfig`s at runtime. This was ok in the old implementation but now, as each `light_engine` is spawned using `"forkserver"`, we run into a problem, the code:

[code]
will print `5` and then `3` when `mp = mp.get_context("forkserver")` but `5` then `5` when `mp = mp.get_context("

[2020-08-05 23:30] anikem opened #117 "New simplified directory structures"
### Problem

The codebase is currently a bit fragmented and not standardized.

### Solution
Modify the current code base to reflect this structure (agreed upon by multiple team members):
<img src="https://user-images.githubusercontent.com/7024869/89473861-d7fc5480-d738-11ea-9124-954fcd84ddda.png" alt="drawing" width="300"/>

[2020-08-05 23:30] Lucaweihs opened #118 "Tutorial: Mastering decentralized distributed training"
## Problem

We should have a tutorial that discusses how the `OnPolicyRunner` and `OnPolicyRLEngine` work together.

## Solution

This requires:

Writing the tutorial.

## Dependencies

None

[2020-08-05 23:37] Lucaweihs opened #119 "Tutorial: Using an Arbitrary OpenAI Gym Environment"
## Problem

We would like a tutorial showing, from start to finish, how an arbitrary OpenAI Gym environment can be used with our framework.

## Solution

This requires:

* Creating generic `GymTask` and `GymTaskSampler` classes which just wrap a given gym environment (or gym environment string identifier) for our use.
* Writing the tutorial using the above.

Possible issues:

* I'm not entirely su

[2020-08-05 23:39] Lucaweihs opened #120 "Tutorial: Creating a new loss (e.g. curiosity-based-exploration?)"
## Problem

We would like a tutorial on creating new losses. Perhaps this loss could be  of the curiosity-based-exploration variety (e.g. forward/inverse dynamics prediction)?

## Solution

This requires:

* Writing the tutorial and defining the new losses.

## Dependencies

None

[2020-08-05 23:41] Lucaweihs opened #121 "Tutorial: Creating a new TaskSampler (for curriculum learning?)"
## Problem

We need a tutorial that guides someone through creating a more complicated task sampler. I would suggest creating a task sampler that does curriculum learning (e.g. PointNav but where you start near the goal at the beginning of training and only later see further and further initial starting positions).

## Solution

This requires:

* Writing the tutorial and creating the task sampler.

[2020-08-05 23:52] Lucaweihs opened #122 "Integrate all ADVISOR code"
## Problem

We should integrate the remaining ADVISOR experiments (@unnat).

## Solution

This requires:

This is relatively straightforward but we'll need to adjust the hyperparameter searching code, and our experimental configs, to account for the issues presented in #116 which make using `gin-config` more difficult.

## Dependencies

Issues #116, #113, #112, #111

[2020-08-06 00:08] Lucaweihs opened #123 "Improve inline documentation for primary abstractions"
## Problem

All of our primary abstractions should have good documentation and be fully typed.

## Solution

Go through all of these critical files and ensure that:

1. All classes/methods/modules have doc strings and these doc strings enumerate all the parameters if relevant.
2. All (except in rare cases where doing so would be highly unpractical) parameters are typed.

## Dependencies

None

[2020-08-06 00:13] Lucaweihs opened #124 "Fix all mypy type errors"
## Problem

`mypy` currently generates a long list of type errors which need to be fixed. After this release, we should not merge PRs unless `mypy` returns no errors.

## Solution

These just have to be dealt with one my one. In some, reasonably rare, cases `mypy` is wrong in which case we can use `# type: ignore` to ignore the error (this should be avoided whenever possible).

## Dependencies

No

[2020-08-06 16:52] #117 closed, assigned to jordis-ai2

[2020-08-11 00:20] #116 closed, assigned to Lucaweihs, jordis-ai2

[2020-08-11 18:59] anikem opened #129 "Add docstrings to all classes"
### Problem
Some of our classes do not have docstrings. But we refer to them within the documentation, assuming that they will be documented within the API folder. This leads to dead links.

### Solution
Go through all the classes in the repository.
Add meaningful docstrings to the important ones.
Add placeholder docstrings to the less important ones.

### Dependencies
None

[2020-08-11 23:00] jiasenlu opened #130 "Errors when running the BabyAI baseline"
I got this error when running the babyAI baseline

```CUDA_VISIBLE_DEVICES=0 python ddmain.py go_to_local.ppo --experiment_base projects/babyai_baselines/experiments```

[code]

[2020-08-11 23:45] #130 closed, assigned to nobody

[2020-08-12 16:54] Lucaweihs opened #131 "Testing is surprisingly slow"
## Problem

Running testing is surprisingly slow: often as slow or slower (in fps) than training.

## Solution

While I am not certain, I believe this has to do with redundant/unnecessary copying of tensors around in the rollout storage. This will require some debugging and profiling to get to the root problem.

## Dependencies

None

[2020-08-12 17:00] Lucaweihs opened #132 "Distributed training problems with more complicated losses"
## Problem

The `DistributedDataParallel` wrapper that we use to enable distributed training has some limitations in that it assumes all model parameters will be used when losses are computed and, otherwise, complains.

## Solution

We should either find a way to fix this problem (e.g. using dummy losses which send 0-value gradients) or document this behavior very well so that people are not confu

[2020-08-12 21:24] anikem opened #133 "Train and test in ALFRED"

[2020-08-12 21:47] anikem opened #134 "RoboTHOR PointNav SuperSmall dataset"
Create a subset of the RoboTHOR dataset, that trains to a high success value in a few minutes on CPU.
This dataset will be useful for debugging.

[2020-08-12 22:47] klemenkotar opened #135 "Tutorial: Arbitrary Memory Types"
## Problem
We would like a tutorial showing how to use custom memory types, as well as multiple losses.
---
## Solution
---
This requires:
- Creating a `Memory Map` class, an ANM model and a supervised loss to train it
- Writing a tutorial on how to implement a custom memory type and use it

[2020-08-13 00:58] #124 closed, assigned to jordis-ai2

[2020-08-13 15:39] anikem opened #136 "Rename code and docs to use AllenAct"

[2020-08-14 17:03] #136 closed, assigned to anikem, roozbehm, klemenkotar

[2020-08-14 17:33] jordis-ai2 opened #138 "Viz support for multi-agent"
For multi-agent viz It would make more sense to name the current "groups" by an episode id and include visualizations for each agent in the episode.

[2020-08-15 01:29] #109 closed, assigned to jordis-ai2

[2020-08-18 17:28] anikem opened #142 "Add histogram of actions as a metric"
Very useful to track progress and understand if the agent gets stuck in some degenerate solution space.

[2020-08-22 00:34] #108 closed, assigned to jordis-ai2

[2020-08-24 19:45] jordis-ai2 opened #145 "Fix imitation loss"
Broken after https://github.com/allenai/allenact/pull/141 due to hardcoded tensor shapes.

[2020-08-25 00:54] Lucaweihs opened #146 "Rename "gpu_ids" parameter to "worker_devices"."
## Problem

Currently the devices workers use is set by a `"gpu_ids"` dictionary entry in the `machine_params` method of a config file. This is a bit strange as these devices can (e.g. for debugging) be cpus.

## Solution

Let's rename `"gpu_ids"` to something more evocative (e.g. `"worker_devices"` or `"distributed_devices"`).

## Dependencies

None.

## Warnings

This will be a breaking change.

[2020-08-27 15:02] jordis-ai2 opened #147 "Runner doesn't terminate"
e.g. `python main.py go_to_local.distributed_pure_offpolicy --experiment_base projects/babyai_baselines/experiments -m 8`

[2020-08-27 15:54] #111 closed, assigned to klemenkotar, jordis-ai2

[2020-08-27 16:10] anikem opened #150 "Objectnav tutorial"
Or PointNav to ObjectNav

[2020-08-27 16:33] Lucaweihs opened #151 "Allow specification of machine params from the command line"
## Problem

Currently it can be a bit of struggle to specify machine parameters as you have to manually change parameters in the configuration.

## Solution

Let's have a command-line means by which to change machine parameters. Some things that would be nice to be able to change:

* Workers and their devices
* # Samplers and their devices

One possible problem is that we might need a way to chang

[2020-08-27 16:35] anikem opened #152 "Remove Gibson assets from the Docker container"

[2020-08-27 16:41] Lucaweihs opened #153 "Tutorial: Off-policy training"
## Problem

We would like a tutorial on training with off-policy. A good candidate for this seems to me the BabyAI GoToLocal imitation learning experiment we have.

## Solution

This requires:

* Writing the tutorial.

## Dependencies

None

[2020-08-27 16:43] Lucaweihs opened #154 "Update package version to 0.1 in setup.py and create release."

[2020-08-27 18:47] #145 closed, assigned to jordis-ai2

[2020-08-27 22:45] #147 closed, assigned to jordis-ai2

[2020-08-30 00:20] Lucaweihs commented on #152
Done in b888e96.

[2020-08-30 00:20] #152 closed

[2020-08-30 00:24] Lucaweihs commented on #134
Partially solved by the introduction of the `dataset/robothor/pointnav/debug` dataset in 8fe8f53. As training to high success using RL in a few minutes with only a CPU takes a little work (even in simplified settings) I'm postponing this to 0.1.1.

[2020-08-30 18:03] Lucaweihs commented on #79
The README.md has changed quite a lot and the documentation website is now live.  This should be now resolved.

[2020-08-30 18:03] #79 closed

[2020-08-30 21:29] #154 closed

[2020-08-30 22:59] anikem opened #175 "Projects for objectnav and pointnav baselines need improvement"
- If we are reproducing results from a paper, we should cite the paper.
 - If we are providing a baseline model, ideally we need a simple model diagram for the experiment. So that the reader can understand more details about what this baseline is.
 - In addition, we need to provide metrics via tensorboard screenshots for all runs in the project

[2020-08-31 18:23] Lucaweihs opened #182 "Allow specifying the use of determistic validation/testing agents from the command line."
## Problem

Currently we have the functionality to allow for deterministic agents (i.e. always taking the mode action) during validation/testing but there is no way to specify this from the command line.

## Solution

Lets add a command line argument for this. I think we should make deterministic inference **off by default**.

## Dependencies

None.

[2020-09-01 15:25] jordis-ai2 opened #187 "Properly resume training with offpolicy losses"
Currently, a new epoch will be started when resuming training (new Iterator will be instantiated). We should save the random seed used to shuffle the datasets (for all workers?) and the length of the remaining data, besides providing a resume API for iterators.

[2020-09-02 00:08] jordis-ai2 commented on #138
https://github.com/allenai/allenact/pull/192 deals with a fix for single-agent visualization before we redesign Visualization to be "multi-agent-friendly".

[2020-09-04 17:40] marlohmann opened #196 "debug option for objectnav"
It would be great if objectnav also had a debug dataset like pointnav does.

generally, I wonder if contributors should be encouraged to implement a debug option if writing a new task. If the task's debug mode is on, only simple, hand-picked, instantiations of the task are sampled for training, and testing is on the same scenes (or very similar scenes, for which generalization should be much easie

[2020-09-04 21:08] klemenkotar opened #197 "Remove Distance Caching for RoboTHOR and iTHOR Navigation Tasks and Rely Solely on the Built in Navmeshes"
## Problem

Currently AllenAct is using pre-computed distance caches as the default way of finding the distance between any point in the scene and the target. It has been shown that these caches offer little in the way of FPS improvements and makes the model train slower (in terms of number of steps). They are also tied to a specific release of ai2thor and awkward to use.

## Desired solution

iTH

[2020-09-07 19:39] prithv1 opened #198 "Possible bug in how max-tasks is being set in objectnav dataset task samplers"
## Problem

I think the max-tasks parameter is being set incorrectly in the `ObjectNavDatasetTaskSampler` definition. Here's the line:

https://github.com/allenai/allenact/blob/ee736e6a3aeed29b3661ee18fa0dc0a68a40201e/plugins/robothor_plugin/robothor_task_samplers.py#L338

Right now, validation (I think) and test evaluation runs only over a subset of all the provided episode configs -- 240 to be p

[2020-09-08 16:47] klemenkotar commented on #198
@anikem @jordis-ai2 I am handling this since I wrote the code

[2020-09-08 17:06] jordis-ai2 commented on #198
Yes, it looks like a bug. Just made a PR with a fix.

[2020-09-08 17:09] klemenkotar commented on #198
@jordis-ai2 Oh I just made a PR too. Yes I totally agree it is a bug. This was fixed for the pointnav dataset task sampler, but not the objectnav. Anyways I will close my PR because I think that @jordis-ai2 has added other things in his as well

[2020-09-08 17:09] prithv1 opened #201 "Option to allow changing / overriding experiment config parameters from command line arguments"
## Problem

In addition to `worker_devices`, it'd be great if there was an option to modify / override other parameters in the experiment configs without rewriting a new experiment config. Handling multiple configs for changes in learning rate, number of rollout steps, new datasets (new episode configs) or sensor specifications can become unweildy while running multiple controlled sweeps for insta

[2020-09-08 19:15] jordis-ai2 commented on #138
I'll consider this an enhancement more than a bug after fixing single-agent visualization.

[2020-09-08 19:19] jordis-ai2 commented on #182
Working on it...

[2020-09-08 19:43] jordis-ai2 commented on #153
Working on it...

[2020-09-08 20:09] #198 closed

[2020-09-08 20:13] #182 closed

[2020-09-08 20:26] jordis-ai2 commented on #201
I'll take a look at a previous implementation using Gin Config in Luca's branch and see how much I can bring back from there...

[2020-09-08 20:27] Lucaweihs commented on #201
Thanks for the suggestion @prithv1. I definitely agree, we had a method for doing this with [`gin-config`](https://github.com/google/gin-config) but this solution no longer works with the distributed engine.

Do you have any preferences on how these command line arguments should be given to the experiment config? E.g. should `def training_pipeline` take something like a `cmd_line_kwargs: Dict[str,

[2020-09-08 20:35] Lucaweihs commented on #201
@jordis-ai2 before doing any implementation we should probably have a discussion on what's the best way to do this. I liked the `gin-config` style strategy as it was very flexible but it was also quite "magical" and requires people to learn yet another set of tools. It might be worth minorly limiting flexibility for the sake of ease.

[2020-09-08 20:52] prithv1 commented on #201
I think a specification based on command line arguments like this should be fine. I personally have not used the `gin-config` setup but from a quick glance that also seems like something that should do the job.
At the very least, I think offering flexibility over the worker_devices (saw that it was already noted as an issue), datasets, sensor-arguments, reward configs and some key arguments for th

[2020-09-08 21:36] jordis-ai2 commented on #201
Another option is to remove the current code to automatically start distributed training on a single machine and make the main process be the trainer, thus going back to the setup we had before the distributed redesign. I'm open to do that too, if that's the best solution (it would probably also be the most homogeneous if we ever plan to provide multi-node training).

[2020-09-08 23:00] prithv1 opened #203 "Logging losses on the validation / test split"
## Problem

I think right now logging losses (PPO or otherwise) as defined under `core/algorithms/onpolicy_sync/losses/` is only supported on the train split. If I understand correctly, right now on the train split, it's possible to log losses (and other quantities defined in the loss definitions -- policy entropy, etc.) as well as metrics (and rewards) defined in the task definitions (success, SP

[2020-09-08 23:08] Lucaweihs commented on #203
👍

I've implemented this at some point on an old branch. I think the main roadblock to having this on by default is that we cannot expect that certain sensor readings are available in the validation / test sets. For instance, if we train a model with imitation learning, it is very possible that we do not have expert actions for the test set. Would it be sufficient to be given the option to define

[2020-09-09 00:06] prithv1 commented on #203
I see. Makes sense.

Yes. I think this will be useful. However, if it's only restricted to metrics that only utilize task-level information -- path taken, etc. to compute new metrics -- then I guess this would only slightly make things easier for the user in the sense that the user doesn't have to modify the task definition by themselves. I think if this encompasses loss logging (under the constra

[2020-09-09 00:11] Lucaweihs commented on #203
Great!

Sounds good. In principle we could just allow people to pass in a list of losses that they'd like to have recorded during testing, perhaps that's the most robust solution as the user could also record losses not included during training.

[2020-09-09 23:52] #153 closed

[2020-09-11 21:20] #112 closed

[2020-09-27 03:46] portegys opened #211 "Environment for honey bee foraging and dance"
## Problem

I'm interested in porting a [simulation](https://www.researchgate.net/publication/339899154_Morphognostic_honey_bees_communicating_nectar_location_through_dance_movements) of honey bee foraging behavior, including their unique dance that informs the colony of the whereabouts of nectar, to the allenact platform.

## Desired solution

The current simulation is in a grid world, so it woul

[2020-09-28 21:29] Lucaweihs commented on #211
Hi @portegys ,

This looks like an interesting possible addition! To get a sense of if AllenAct is the best tool for you goals, it would be great to get a little more information:

* As you'd like to have this simulation in AllenAct, I imagine you're interested in studying what types of foraging behavior the bee agent will learn through reinforcement learning? Are there other learning paradigms yo

[2020-10-02 16:21] prithv1 opened #212 "Documenting all the command line arguments"
## Problem

[Creating an issue here following Luca's suggestion]
It might be beneficial for users if all the command line arguments in the `main.py` script were documented in the AllenAct docs. I ran into an issue (fixed now) where I accidentally started training from the latest checkpoint with the `restart_pipeline` flag for a run that had crashed prematurely -- my goal was to resume training as

[2020-10-05 23:25] Lucaweihs commented on #211
Hi Tom,

Sorry for the delay, the team had a conference deadline last week that consumed most of everyone's attention. This sounds like a great potential addition. I would have some hesitancy if you were planning to simulate hundreds or thousands of bees in the same envirnoment (I imagine this might work fine but allenact was not explicitly designed with this in mind so I'm not sure if there are a

[2020-10-06 02:09] portegys commented on #211
OK, thanks. I'll keep in touch!
Tom

On Mon, Oct 5, 2020 at 6:25 PM Luca Weihs <notifications@github.com> wrote:

[2020-10-08 18:39] mattdeitke opened #214 "Simply running babyai example after installation (Ubuntu 20.04)"
## Problem

After installing AllenAct with either pip or pipenv, simply running the basic babyai experiment
[code]

fails with the following output details:

<details>

[code]

</details>

## Desktop

Please add the following information:
 - OS: Ubuntu 20.04
 - AllenAct Version: current HEAD of master

## Additional context

Perhaps it's a paths issue, but I'm not sure of an immediate fix.

Matt :

[2020-10-12 20:22] mattdeitke commented on #214
It seems that babyai's installation failed silently for me with `pip install -r requirements.txt`. Reinstalling it afterward by manually running:
[code]
worked!

[2020-10-12 20:22] #214 closed

[2020-11-13 00:58] kolbytn commented on #133
Is there a projected date for Alfred support in AllenAct? I'm interested in using AllenAct with the Alfred and Vision and Language Navigation tasks. I noticed that both Alfred and VLN are listed as supported in your [paper](https://arxiv.org/pdf/2008.12760.pdf).

From what I can tell this will involve adding new sensors, tasks, and task samplers to the iTHOR and Habitat plugins. Is this correct?

[2020-11-14 03:02] Lucaweihs commented on #133
Hi @kolbytn,

We have an implementation ALFRED in AllenAct but have been holding off on making it public until it was a little more user friendly. I believe it is very near release but I'll let @jiasenlu answer with respect to exact timelines as he's been working very closely with the current implementation.

One thing I can say for certain: the whole team is working on various projects for the CV

[2020-11-19 22:32] jiasenlu commented on #133
Hi @kolbytn

I am working on integrating interaction tasks in Allenact (Alfred like tasks but not Alfred dataset). For Alfred, we can not directly port the dataset into Allenact is because Alfred collects the dataset based on a very old AI2thor version (2.1.0), and the currently supported version is 2.4.0. There is a room layout, object change between these two versions, so we can not recover the

[2020-12-11 19:08] jordis-ai2 commented on #113
I just added two options (`-i` to disable tensorboard logging, `-a` to disable saving the used configs).
Currently, I still let the engine collect visualization data if a visualizer is present in machine params, but I could avoid it by passing a flag from runner if that's not sufficiently efficient...

[2020-12-11 21:11] #138 closed

[2020-12-11 22:42] #113 closed

[2020-12-11 23:28] jordis-ai2 commented on #110
Do we want A3C?

[2020-12-14 18:16] Lucaweihs opened #222 "Arbitrary Action Space"
## Problem

Currently we do not natively support non-categorical action spaces.

## Desired solution

`Task`s already have an `action_space` command, so we should be able to use this to define the action tensor in the `RolloutStorage`. Once this is done, a model need only return a `Distribution` which can sample an action in this space (and determine the log-prob of that action) and everything sho

[2020-12-14 18:18] jordis-ai2 commented on #222
Working on it!

[2020-12-23 04:49] liuxz-cs opened #225 "how to do multi-agent tasks?"
Excuse me, I want to know how to use allenact framework to perform multi-agent task？ I see in the website that it can support the multi-agent setting.

[2020-12-23 18:03] jordis-ai2 commented on #225
This feature is currently under major rewriting, but for a simple example with independent agents you can take a look at the config [https://github.com/allenai/allenact/blob/master/projects/tutorials/navtopartner_robothor_rgb_ppo.py](https://github.com/allenai/allenact/blob/master/projects/tutorials/navtopartner_robothor_rgb_ppo.py). Please note that this is a rather limiting way to train multiple

[2020-12-23 18:49] jordis-ai2 commented on #225
I'll close this issue since it's covered by [https://github.com/allenai/allenact/issues/222](https://github.com/allenai/allenact/issues/222)

[2020-12-23 19:39] jordis-ai2 commented on #222
I'm making code changes in a way that I'm going to break backwards compatibility with existing models:
- I'm still keeping a step dimension in all tensors
- I'm removing the agent dimensions from all tensors (including masks)
- I'm passing actions as flattened tensors (similar to what `gym.spaces.flatten` does, but not identical, e.g. my `Discrete` is just flattened to the sparse representation (a

[2020-12-29 21:57] kolbytn commented on #133
Thanks for the response! @jiasenlu any update on interaction tasks?

[2021-01-05 23:57] Lucaweihs commented on #132
I believe this has been resolve by the above, if it has not I will reopen.

[2021-01-05 23:57] #132 closed

[2021-01-05 23:59] Lucaweihs commented on #197
@klemenkotar from my understanding this is done, please reopen if not.

[2021-01-05 23:59] #197 closed

[2021-01-06 02:15] klemenkotar commented on #197
@Lucaweihs Yes al this code is in master now. There is a little bit of clean up left to do (we have some unused code inside [cache_utils](https://github.com/allenai/allenact/blob/master/utils/cache_utils.py), but we can do that in a larger cleanup commit perhaps.

[2021-01-06 20:18] Lucaweihs commented on #134
On the debug dataset for RoboTHOR PointNav and was able to train to 50% accuracy in 40 minutes and >95% accuracy in 1.5 hours. This isn't quite at the level of "a few minutes" but I think works well enough for now so I will close this issue.

[2021-01-06 20:18] #134 closed

[2021-01-09 02:01] jordis-ai2 commented on #222
In my first design for arbitrary action spaces, I observe a drop in performance of 150 -> 645 fps. Will redo development.

[2021-01-11 19:51] Lucaweihs opened #228 "Testing consistency for distributed training"
## Problem

It is challenging to test that training is perfectly consistent when doing distributed training. I.e. if I change the number of GPUs I'm training with but keep the number of processes the same, do my models I get exactly the same gradients?

## Desired solution

We should create an experiment config in AI2-THOR that is seeded such that the agents will see the same scenes and take the s

[2021-01-18 16:47] #222 closed

[2021-01-18 17:37] jordis-ai2 commented on #225
I'm reopening, since I did not include a tutorial/documentation in [https://github.com/allenai/allenact/issues/222](https://github.com/allenai/allenact/issues/222).

[2021-01-25 21:06] ekolve opened #239 "Error with robothor_environment/cache_utils: retry_dist() takes 2 positional arguments but 3 were given"
This line:

https://github.com/allenai/allenact/blob/master/utils/cache_utils.py#L162

calls this function:

https://github.com/allenai/allenact/blob/master/plugins/robothor_plugin/robothor_environment.py#L139

which only expects 2 arguments, but 3 are given.  This happens when training a pointnav model.

[2021-01-25 21:12] jordis-ai2 commented on #239
Good catch! This must have stayed there after a recent update. I think it's a quick fix 👍

[2021-01-26 20:49] jordis-ai2 commented on #239
Can you share some more details about the experiment you're running? After inspecting, I haven't seen any pointnavtask-related code calling the wrappeing funtion of https://github.com/allenai/allenact/blob/master/plugins/robothor_plugin/robothor_environment.py#L139

[2021-01-26 20:57] jordis-ai2 commented on #239
I'm tentatively fixing the call to native_distance_function (which should in any case expect two parameters), but I haven't been able to determine where in the code we use distance_to_object in a pointnav task.

[2021-01-26 21:51] #239 closed

[2021-01-30 01:10] jordis-ai2 commented on #225
[PR231](https://github.com/allenai/allenact/pull/231) provides a full tutorial with two policies (continuous control).

[2021-02-02 18:13] #225 closed

[2021-02-26 18:33] jordis-ai2 opened #255 "VizSuite breaks with length-1 episodes, does not support arbitrary action spaces/distributions"
## Problem

Some visualization types assume episode lengths > 1. VizSuite further assumes action spaces are Discrete(n).

## Steps to reproduce

Modify `projects/tutorials/running_inference_tutorial.py` with:
[code]

Then run training with
`python main.py projects/tutorials/running_inference_tutorial.py -o debug_valid_viz -l debug`

## Expected behavior

Lots of dropped visualizations will be logg

[2021-03-03 13:52] GracefulMan opened #257 "close display for robothor"
how can i close the display of unity, since it will create many display window when training!

[2021-03-03 17:24] Lucaweihs commented on #257
Hi Hongying,

Unfortunately I don't think this is currently possible as Unity needs to render to a display when training. Unity does have a `-batchmode` option that allows for running without a display but some preliminary testing by me suggests that the images it returns when using this mode are blank. @ekolve would you know of workaround so that things don't get cluttered? One (slighly hacky): d

[2021-03-03 17:26] ekolve commented on #257
Could you tell me what platform you are on?

[2021-03-04 07:14] GracefulMan commented on #257
I run the code on ubuntu 20.04, it will open many unity window.

[2021-03-04 08:50] GracefulMan opened #258 "IndexError: Cannot choose from an empty sequence"
when i run tutorial code, i get the following error, the command is

[code]
i want to know how to fix it?
**Error detail:**
[code]

[2021-03-04 09:04] mattdeitke commented on #258
Hey,

Sorry about this! This is a bug that exists and is being fixed in the latest version of AI2-THOR (https://github.com/allenai/ai2thor/issues/618) and (https://github.com/allenai/ai2thor/pull/628).

In the meantime, in the following line, if you change `return self.last_event.metadata["reachablePositions"]` to `return self.last_event.metadata["actionReturn"]`, it will work immediately:

https:

[2021-03-04 11:03] GracefulMan commented on #258
thanks!

[2021-03-05 01:45] GracefulMan commented on #257
i want to know whether it will delay the trainning process? now there are a lot of display window when train the agent.

[2021-03-05 04:08] Lucaweihs commented on #257
Hi Hongying, it shouldn't have a large impact on the training speed. If you tell me about your computer's hardware (# processes + # gpus) I should be able to give you a ballpark figure of what FPS you should be seeing during training (the FPS is printed every time AllenAct logs training metrics / losses).

[2021-03-05 08:00] GracefulMan commented on #257
Hi, my hardware information:
Processor: Intel® Core™ i7-8700K CPU @ 3.70GHz × 12
Graphics: NVIDIA Corporation TU104 [GeForce RTX 2080] , only 1 GPU.
the command is from tutorial:

[code]
the following is screenshot when run the command:

![](https://i.ibb.co/QvTyQ85/Screenshot-2021-03-05-15-51-11.png)

[2021-03-05 16:52] Lucaweihs commented on #258
This should be fixed in #259, closing this for now but let me know if you run into any other issues.

[2021-03-05 16:52] #258 closed

[2021-03-05 19:30] ekolve commented on #257
Run the following from the shell:

[code]

Then run the following script after starting your training process:
[code]

[2021-03-13 09:36] aleSuglia opened #261 "Integration with AllenNLP"
## Problem

AllenAct represents a framework for learning to act in 3D environments. Learning complex tasks from scratch, without human supervision is very challenging. Additionally, learning from raw pixels is even harder. Language can represent a relevant medium for improving the sample efficiency of learning to act models. Therefore, I believe that a *learning to act* framework should be also ti

[2021-03-27 09:53] 98ming opened #265 "export ALLENACT_VAL_METRICS = /path/to/metrics__val_*.json"
## Problem / Question

How to generate metrics__val_*.json files？
![image](https://user-images.githubusercontent.com/45972938/112717085-43dc3900-8f25-11eb-9750-64cb7e9c7e57.png)
Why can the code only generate metrics__test_*.json files

[2021-03-29 16:50] jordis-ai2 commented on #265
The current supported way to get metrics for validation tasks is to run the test mode with those tasks, but we'll consider this for future releases.

[2021-04-01 16:21] Lucaweihs commented on #265
@98ming Does the above make sense and work for you? I agree that this is a bit confusing, really it should say "__inference_{}" or something similar as you can change the tasks you're "testing" to be anything you'd like by modifying the
[code]
function in your experiment config. [Here's an example](https://github.com/allenai/ai2thor-rearrangement/blob/main/baseline_configs/rearrange_base.py#L298)

[2021-04-01 21:42] Lucaweihs commented on #261
Hi @aleSuglia,

I think this is a fantastic suggestion. One of the reason we haven't prioritized this yet is that the most popular embodied tasks (e.g. instruction following for navigation) don't seem to require extremely deep language understanding. I see you've done some interesting work with guessing games, is there a task you're interested in where you feel like a tight AllenNLP+AllenAct integ

[2021-04-01 21:44] Lucaweihs commented on #257
Hi @GracefulMan,

Did @ekolve's suggestion work for you? The FPS rates you're getting (~300) seem quite reasonable for a single GPU. The highest FPS we managed (with an 8 GPU machine) is around 1200 FPS for navigation.

[2021-04-06 11:19] aleSuglia commented on #261
Hi @Lucaweihs,

Thanks for your answer. The kind of tasks that I have in mind are those in which agents can interact with environment **as well as** in natural language with other agents to achieve a given task (e.g. https://arxiv.org/abs/2011.08277). I believe that AllenAct combined with AllenNLP would be the perfect solution to tackle this sort of embodied and communicative tasks. I would be mor

[2021-04-12 16:50] Lucaweihs opened #272 "Separate allenact/allenact_plugins unit tests ."
## Problem

Currently our tests for `allenact` have dependencies on frameworks in `allenact_plugins`. Ideally these should be self contained.

## Desired solution

Create `test` directories in `allenact` and `allenact_plugins` and create new tests in `allenact` that are not framework dependent.

## Additional context

That this is a good idea was pointed out by @jordis-ai2 in #270 .

[2021-04-20 22:12] joel99 opened #274 "Faulty d2g in ObjectNav baselines"
Hello, I was taking a look at the pretrained DDPPO ObjectNav agent (in `objectnav_baselines`) and running it through ai2thor-docker + allenact. I was curious what the existing failure modes were. I found two surprising issues from evaluation output:

1. The agent is occasionally successful even when D2G is > 1.0m. When I plot the D2G recorded in metrics (`dist_to_target`), I see some successes eve

[2021-04-20 23:22] jordis-ai2 commented on #274
Hi Joel. I think that things might still be working as expected, if I understood the issue.

For Q1, it is possible that the agent lies at an Euclidean distance < 1 m  from the target while the geodesic distance remains larger (there could be an object crossing the line between the agent and the target). Without more details it is difficult to confirm there is a bug, so it would be great if you co

[2021-04-20 23:29] Lucaweihs commented on #274
Hi @joel99 ,

I was just responding and now see that @jordis-ai2 beat me to the punch.

1. I will dive into this tomorrow to see if I can can reproduce what you're seeing, as Jordi said it would be helpful to have any additional information if possible. If you're running inference using AllenAct can you give us the `metrics_....json` that was generated?
2. As noted by Jordi, the `path_to_target` i

[2021-04-21 18:52] joel99 commented on #274
Hello all,

re: 1, I attached a subset (Final D2G > 1m and Success == True) of the metrics output, hopefully this helps, and a snippet which should reproduce those orange dots. Note it's been renamed to a txt to make github happy, it should be changed back to json.
re: 2, I see, that makes sense.

[code]
[metrics__abbrev.txt](https://github.com/allenai/allenact/files/6353212/metrics__abbrev.txt)

[2021-04-23 01:47] jordis-ai2 commented on #274
I noticed distance cache inconsistencies when we were sampling episodes from more than one scene in a task sampler. Testing with the fix should produce something like
![image](https://user-images.githubusercontent.com/39779720/115806186-228f3100-a39b-11eb-9ad0-50a9ef1acc8f.png)

[2021-04-23 02:33] #274 closed

[2021-04-23 02:35] Lucaweihs commented on #274
Thanks for bring this to our attention @joel99, as Jordi mentioned above: this is fixed in #275 which is now merged.

[2021-05-04 23:17] Lucaweihs commented on #201
This is now implemented by (the merged) PR #279 .

[2021-05-04 23:17] #201 closed

[2021-05-05 06:52] zhangfuyang opened #280 "How to convert Agent state in Ithor to the same format as in Robothor?"
Hi, I am trying to use `VizSuite` to visualize objectnav in ithor (tutorial `object_nav_ithor_ppo_one_object.py`). Basically, what I am trying to do is to modify the `task_info` and other memory variables same as in Robothor. Everything is almost done. Just one question, in class `IThorEnvironment`, the agent state is acquired by the method called `get_agent_location()`. And in class `RoboThorEnvi

[2021-05-05 17:52] Lucaweihs commented on #280
Hi @zhangfuyang ,

@jordis-ai2 has a better grasp of the visualization code than I do so I'll let him expand on the

question, but I can address the agent state:

Both RoboTHOR and iTHOR are built on top of the AI2-THOR simulator and thus share the same underlying agent state (if you look at the implementations of those two methods you'll see that they are both just extracting information from AI2

[2021-05-05 21:21] jordis-ai2 commented on #280
Hi @zhangfuyang,

Adding specialized trajectory visualization is still pending for iTHOR. Unless I'm mistaken, it should be possible to add AgentViewViz and plain TrajectoryViz out-of-the-box, but I will add a specialized trajectory visualization and double check there are no hiccups for the other visualization types.

[2021-05-05 22:57] zhangfuyang commented on #280
Thanks, @Lucaweihs and @jordis-ai2. I finally make it works. I make some modifications to match the current visualization tools. I attach my files here, in case some other people also look into it. (**I am using this version of the code https://github.com/allenai/allenact/tree/c120d18e4bbe223a2b06a63853d8536b7b9d68c2, things may be different in the future :)**)
[my_ithor_tasks.py.txt](https://gith

[2021-05-06 00:18] #280 closed

[2021-05-07 00:19] jordis-ai2 commented on #280
Thanks, @zhangfuyang!

I actually created a PR with some fixes for visualization with iTHOR (including a specialized trajectory viewer). Let us know if it works for you if you have interest (it's still under review and as such subject to improvements).

[2021-05-11 16:12] joel99 opened #284 "Documentation request"
Hello, Allenact often relies on a `VISIBILITY_DISTANCE` parameter. Is this measured from agent center to target object center? That seems like a sensible default, but coming from the Habitat MP3D task where object viewpoints are involved, I wasn't sure.

[2021-05-11 16:19] Lucaweihs commented on #284
Hi @joel99,

If I'm understanding what you're saying, it sounds correct to me. Quoting from the [iTHOR documentation](https://ai2thor.allenai.org/ithor/documentation/concepts) (visibility is computed in the same way in iTHOR and RoboTHOR):

[2021-05-13 14:56] joel99 commented on #284
I missed this piece, but I think it'd still be helpful to clarify whether visibility is fairly flexible (can parts of an object be visible?) or a binary state determined by distance to object center of mass.

[2021-05-13 19:21] Lucaweihs commented on #284
Gotcha, yes clarifying that an object is considered visible even when it partially (but not totally) occluded is a good idea. From your perspective as someone who has recently looked for this documentation, where would you find most helpful for this documentation to be placed?

[2021-05-21 15:14] joel99 commented on #284
Sorry for the delay: I expect these kinds of details to show up in the API documentation e.g. https://ai2thor.allenai.org/robothor/documentation. It'd also be helpful to note the two endpoints used in the distance measurement! Thanks!

[2021-06-04 20:56] Lucaweihs commented on #284
@mattdeitke could you update the above https://ai2thor.allenai.org/robothor/documentation so that the section on visibility distance links to the more complete discussion under the ithor documentation?

[2021-06-04 21:00] mattdeitke commented on #284
Yes. Was somewhat holding off on this because I think it's best to merge iTHOR, RoboTHOR, and ManipulaTHORs documentations together into a single documentation that supports filtering actions/parameters/sections specific to {iTHOR, RoboTHOR, ManipulaTHOR}. The current approach just leads to a lot of duplicated content everywhere.

[2021-06-07 20:42] mattdeitke commented on #284
The RoboTHOR docs should now be updated :)

Sorry for the initial confusion.

[2021-06-07 20:42] #284 closed

[2021-06-10 06:53] KevinWu57 opened #292 "Enable to log metrics regardless of train/val/test"
## Problem

I would like to log metrics in a document during training and validation as what you have done for testing. Currently I have to open tensorbard and get

## Desired solution

Is it possible to use a flag, like the tensorboard logging, to enable or disable metric logging regardless of stages?

[2021-06-10 16:44] Lucaweihs commented on #292
Hi @KevinWu57,

PR #253 actually introduces an update to allow for saving validation metrics via a `--collect_valid_results` flag, this should be merged in the next few days (I just need to find time for a final review) but you should be able to install this version of AllenAct ahead of time if you'd like:
[code]

Saving the training metrics to a metric file is something we hadn't thought of so mi

[2021-06-11 08:53] KevinWu57 commented on #292
Hi @Lucaweihs ,

Thanks for your response! Yes, I think a function that can extract the training metrics from the tensorboard file would be good for me so that I don't have to run tensorboard.

[2021-06-12 23:37] aleSuglia commented on #261
Any more thoughts on this?

[2021-07-20 11:34] KevinWu57 opened #300 "Agent could not find a path in ObjectNav iThor"
## Problem

When I was trying to run this experiment `projects/objectnav_baselines/experiments/ithor/objectnav_ithor_rgbd_resnetgru_ddppo.py`, I saw there is a warning "could not find a path from ... to ..." for some starting points in some scenes. However, when I check the start and end points where the error message happens in ai2thor, there is a a path between those points. I will put some exam

[2021-07-22 15:26] Lucaweihs commented on #300
Hi @KevinWu57,

To be able to compute shortest paths we rely on there being a valid [navmesh](https://docs.unity3d.com/Manual/nav-BuildingNavMesh.html) throughout the scene in the AI2-THOR build. Because this navmesh was manually created by the AI2-THOR team, there are some instances in various scenes where no navmesh was placed but the agent can still reach. The random agent from the beginning of

[2021-07-22 18:22] KevinWu57 commented on #300
Hi @Lucaweihs ,

Thank you for your response! It is good to know that this is actually not a big issue and those episodes with warnings take only a very small part. After training with some time, I find it sill produces a good result regardless of those warnings. I will simply comment out the lines to suppress those messages.

[2021-07-22 18:22] #300 closed

[2021-08-04 08:02] rxlqn opened #302 "ValueError: Invalid commit_id: - no build exists for arch=Linux"
I want to test PointNav in RoboTHOR.

However, after starting the VectorSampledTask workers,

Process ForkServerProcess-1:1:

I got the errors as follows:

[08/04 15:47:25 ERROR:] Encountered Exception. Terminating train worker 0       [engine.py: 1359]
[08/04 15:47:25 ERROR:] Traceback (most recent call last):

How can fix this problem?
thanks for your help.

[2021-08-04 08:05] rxlqn opened #303 "Can I train the model on my server with headless mode?"
My server has 3 GTX 3090 cards and a display, which is attached to the VGA on computer mainboard. The display is not attached to any graphics card directly.
Can I train the model on my server with headless mode, since I cannot attach displays to the graphics card?
Thanks for your help.

[2021-08-04 08:16] #303 closed

[2021-08-04 08:37] #302 closed

[2021-08-04 14:42] Lucaweihs commented on #302
Hi @rxlqn, I notice you closed this issue and #303, does that mean you managed to find a solution?

[2021-08-05 06:11] Leeeshuz commented on #302
Hi  @rxlqn, I am stuck in the same problem when trying to run the rearrangement task. How did you solve this?

[2021-08-30 21:23] npmhung opened #308 "Low FPS"
As mentioned in the title, I have low FPS when training a model for object navigation task given that I have 2 GTX 1080Ti.

I'm setting max_sampler_processes_per_worker = 8.

Are there any other ways to increase the FPS?

[2021-08-30 21:47] Lucaweihs commented on #308
Hi @npmhung ,

It would be great to have a few more details to help debugging:
1. What is the command that you're running?
2. Can you let me know your full machine specs. (e.g., OS, RAM, how many cores, etc)?
3. Can you copy-paste the output of `nvidia-smi` while running the experiment?
4. Have you tried without setting `max_sampler_processes_per_worker = 8`?
5. What FPS are you seeing? For contex

[2021-08-31 01:19] npmhung commented on #308
I tried your command except that I have to restrict the "num_train_processes" to 30 because of the OOM error.

# ==================
Machine specs:
Ubuntu 18.04
Core(s) per socket:  4
Thread(s) per core:  2
CPU(s):              8
Intel(R) Xeon(R) CPU E5-2623 v4 @ 2.60GHz
Ram: 64 GBs
# ==================
FPS: ~100 FPS.
# ==================
Furthermore, in the function "get_open_x_displays" from itho

[2021-08-31 16:10] jordis-ai2 commented on #308
Hi @npmhung,

I think you must be limited by the number of CPU cores in your setup. Can you try limiting the [`max_sampler_processes_per_worker`](https://github.com/allenai/allenact/blob/0978361d9314a7499069da092f5442f3739ceb16/allenact/main.py#L151)?

[2021-08-31 17:26] Lucaweihs commented on #308
Yes I'd agree with @jordis-ai2 here, we generally get FPS gains by increasing parallelism (which is CPU intensive and thus relies on there being a larger number of cores). As suggested by Jordi, it might be worth playing around with different values of `max_sampler_processes_per_worker` to see if you can get an FPS bump. Otherwise you'll likely have to play around with changing the model or how AI

[2021-09-01 16:43] npmhung commented on #308
@jordis-ai2 Thank you! I will try that.

@Lucaweihs Thank you for your suggestion. I have other questions:

1) Can my model trained with different Camera width/height be tested on the test-set of ObjectNavigation challenge normally?

2) Is this fair/unfair to compare my model trained on this configuration with other models in the leaderboard?

[2021-09-01 18:24] Lucaweihs commented on #308
Hi @npmhung,

Yes but only if (1) you preserve the 4:3 aspect ratio and (2) you render images at only **lower** resolutions. If you change the aspect ratio or use higher-resolution images then your model has more information than is available to other models and thus this would be considered a rule violation.

Note that actually the above is a bit of a lie, you can _train_ at whatever resolution /

[2021-09-01 19:49] npmhung commented on #308
@Lucaweihs
Please correct if I'm wrong.
As you said above, the images are resize to 224x224 (screen_size).
Therefore, I think that the parameter Screen_size (which is also input size ?), not CAMERA_H/W,  will decide how much your model can see. Is that correct?

Besides, how many cpu cores were you using to have 500 FPS?

[2021-09-01 20:05] Lucaweihs commented on #308
Hi @npmhung,

We render the images at 400x300 from AI2-THOR and then, for our models, prot-process the images to be of size 224x224. Also I should clarify, this resizing isn't a crop, the images are squeezed so that they fit in the 224x224 shape. Others are free to use the full 400x300 image if they'd like.

The machine I was using has 36 cores.

[2021-09-07 20:58] npmhung opened #309 "Training got stuck after creating Vector Sample Tasks"
As mention in the title, when I tried to run the following command:

python main.py projects/objectnav_baselines/experiments/robothor/objectnav_robothor_rgb_resnetgru_ddppo.py

the training process just got stuck at the following step forever:

![image](https://user-images.githubusercontent.com/35062324/132409770-26fdb272-f521-46aa-b154-8ef785ae55e9.png)

This never happens in my personal desktop.

[2021-09-07 21:45] #308 closed

[2021-09-07 21:48] npmhung commented on #309
I got the following message:

For display 0.0, action was successful: True.
For display 0.1, action was successful: True.

[2021-09-07 21:53] npmhung commented on #309
Yes, it still hangs with 1 process.

[2021-09-07 21:57] Lucaweihs commented on #309
Ok great, in the image you linked, there is a key/value pair with the key named `"env_args"` can you copy the dictionary there into a new variable and try the following:
[code]

[2021-09-07 22:05] Lucaweihs commented on #309
I did a bit of debugging and it seems that AI2-THOR does not like it when you use odd integers in the height/width of the window. Can you can the window size from 300x225 to 304x228 and try again?

[2021-09-07 22:07] npmhung commented on #309
Ok, I will try that.

Besides, fyi, this line "env = RoboThorEnvironment(**env_args)" hangs on my server.

[2021-09-07 22:12] npmhung commented on #309
I tried as you suggested. However, changing the resolution didn't help at all in my case.

[2021-09-07 22:23] npmhung commented on #309
This line "env = RoboThorEnvironment(**env_args)" still hangs on my side.

[2021-09-08 16:09] Lucaweihs commented on #309
The `env = RoboThorEnvironment(**env_args)` definitely seems to be the issue. Can you confirm that:
[code]
works?

If so, could you try the following:
[code]
This should eventually hang and tell us what is causing the issue.

[2021-09-08 20:11] npmhung commented on #309
I ran your code, and the key commit_id is causing the issue. Only after removing that key, the code finished successfully.

[2021-09-08 20:28] Lucaweihs commented on #309
I see, this commit id is what determines the AI2-THOR build that should be used. It's unlikely but possible that that this file was corrupted while downloading. Can you try just starting an AI2-THOR controller with this commit id:
[code]
and seeing if that hangs for you?

If so, I'd suggest deleting the
[code]
directory/file within the `~/.ai2thor/releases` directory and then trying to run `Contro

[2021-09-08 20:40] npmhung commented on #309
It couldn't start downloading and get stuck even after deleting those 2 files.

[2021-09-08 20:49] npmhung commented on #309
I can try to upload those files from my desktop if that could help?

[2021-09-08 20:54] Lucaweihs commented on #309
It's possible that the firewall is causing issues, here's a potential workaround:
[code]
This should manually download the files and unzip them into the correct location. If you can't download the zip file with `wget` then you'll probably have to download it locally and upload it.

[2021-09-08 20:55] Lucaweihs commented on #309
You might also want to check the md5 hash of the zip file to make sure it was downloaded correctly:
[code]

[2021-09-08 21:34] npmhung commented on #309
I downloaded and checked the md5 hash sum. The data is correct, but the Controller couldn't load it still.

[2021-09-08 22:06] Lucaweihs commented on #309
This is quite odd, especially as you're able to successfully run other builds. Can you try running
[code]
and then logging into the server from another terminal window and checking that
[code]
shows around 34mb of memory being used by the AI2-THOR unity process? Here's what it looks like for me:
[code]
the process with name `...b766ffb45d455c211329af17e` is unity process.

@ekolve - would you have

[2021-09-08 22:18] ekolve commented on #309
One thing you could try checking is whether there are any other python processes running that may have ai2thor loaded.  There are a few places where we take exclusive locks to ensure that only one process downloads a release as well as when we prune releases.  The block of code that gets locked is very small and should never fail or hang, but its working checking.  If there are other processes, tr

[2021-09-09 06:03] npmhung commented on #309
@Lucaweihs
The Display command  shows up in the nvidia-smi just like what you show me.

@ekolve
I'm using ai2thor 3.3.5

[2021-09-09 15:51] Lucaweihs commented on #309
This is a bit of an extreme measure, but could you:
1. Delete the `~/.ai2thor` directory.
2. Delete and then reinstall the virtual environment you're using using the `--no-cache-dir` option when you pip install ai2thor.
3. Run
[code]
and check if it does/doesn't hang.

My best guess (suggested by @jordis-ai2 ) is that perhaps the initial call to use a window display with height 225 is being cached

[2021-09-09 17:16] ekolve commented on #309
In addition to @Lucaweihs's instructions, if it does hang enter CTRL-C to interrupt the process.  You should hopefully get a stack trace from python where the process was hung.

[2021-09-13 16:57] #257 closed

[2021-12-10 22:45] sagadre opened #322 "Handed-ness of coordinate system"
## Problem

The THOR medatada for agent pose and objects seems to live in the native Unity left-handed coordinate system. This might be confusing for people who are not familiar with how Unity works as right-handed coordinate systems are much more common. For example, creating point clouds in world space using `allenact.embodiedai.mapping.mapping_utils.point_cloud_utils.depth_frame_to_camera_space

[2021-12-23 03:20] twb1235 opened #323 "When I ran the Room Rearrangement task experiment, Eoferror appeared"
## Problem

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Desktop

Please add the following info

[2021-12-23 03:20] #323 closed

[2021-12-23 03:27] twb1235 opened #324 "When I ran the Room Rearrangement task experiment, EOFerror appeared"
## Problem
When I run the following command, the error in the screenshot appears。
‘allenact -o rearrange_out -b . baseline_configs/one_phase/one_phase_rgb_resnet_dagger.py ’
The error occurred after the program had been running for some time
## Screenshots
![捕获](https://user-images.githubusercontent.com/57714230/147183238-83058922-b014-44ca-8720-0746ac3083f8.PNG)

Please add the following informat

[2022-01-04 04:53] Hustwireless opened #325 "Visualization part of the tutorial 'Using a pre-trained model' has error"
## Problem

When running this command following the [tutorial](https://allenact.org/tutorials/running-inference-on-a-pretrained-model/)

running_inference_tutorial \
-o pretrained_model_ckpts/robothor-pointnav-rgb-resnet/ \
-b projects/tutorials \
-c pretrained_model_ckpts/robothor-pointnav-rgb-resnet/checkpoints/PointNavRobothorRGBPPO/2020-08-31_12-13-30/exp_PointNavRobothorRGBPPO__stage_00__step

[2022-01-04 18:09] Lucaweihs commented on #325
Hi @Hustwireless,

Thanks for catching this! We've recently updated a few model architectures so which made the "rnn" tag out of date for this model. I've just pushed a commit that should fix this error, let me know if this works for you.

[2022-01-05 01:47] Hustwireless commented on #325
Hi @Lucaweihs,

Thanks for the fix! It works now!

Since I've just started to use this framework, many things are not quite clear to me. I'm a little bit curious about why adding this rollout_source makes it work? Could you briefly point out what is the functionality of these tags in rollout_source?

Much appreciated!

[2022-01-06 17:27] Lucaweihs commented on #325
Hi @Hustwireless,

Sure thing, for reference, here's the piece of code from the experiment configuration file.
[code]
What this piece of code is doing is instantiating a class that will handle visualizing various metrics during training (in particular, saving these visualizations to a tensorboard log). For instance, the `thor_trajectory=ThorViz(...)` code will result in generating a top-down visua

[2022-01-14 06:39] Hustwireless commented on #325
Hi @Lucaweihs, thanks for this detailed walk through, it's super clear and helpful!

[2022-01-14 06:39] #325 closed

[2022-01-24 21:16] Lucaweihs commented on #309
I'm going to close this issue. Please feel free to reopen if you're still having trouble.

[2022-01-24 21:16] #309 closed

[2022-01-24 21:17] Lucaweihs commented on #324
I'm going to close this issue. Please feel free to reopen if you're still having trouble.

[2022-01-24 21:17] #324 closed

[2022-02-16 20:51] Aakash-Roy opened #332 "Fix for vulnerable packages in the `pip` dependencies of this project"
#### Vulnerabilities that will be fixed

| Issue  | Upgrade |
| ------------- | ------------- |
| NETWORKX  | `2.5 -> 2.6`  |
| NUMPY  | `1.19.5 -> 1.22.2` |
| PILLOW  | `8.2.0 -> 9.0.1`  |

[2022-02-16 20:54] Aakash-Roy commented on #332
#333 This PR will fix the issue.

[2022-02-16 21:14] Aakash-Roy commented on #332
#334 This PR will fix the issue.

[2022-04-01 00:56] hai-h-nguyen opened #341 "Cannot run "gym_mujoco_tutorial""
## Problem

Exception when running gym_mujoco_tutorial:

## Steps to reproduce

Steps to reproduce the behavior:
1. Run:
```PYTHONPATH=. python allenact/main.py gym_mujoco_tutorial -b projects/tutorials -m 8 -o experiment_output/mujoco -s 0 -e```
4. See error
[code]
## Desktop

Please add the following information:
 - OS: Ubuntu 16.04.5
 - AllenAct Version: master

[2022-04-01 13:54] jordis-ai2 commented on #341
@hai-h-nguyen Thanks for letting us know. I think the edge case of agents without memory is not correctly handled after the refactoring of the storage module. It should be an easy fix.

[2022-04-01 14:23] #341 closed

[2022-04-11 14:27] hai-h-nguyen opened #343 "Visualize a policy from a checkpoint"
Hello,

Is it supported to visualize a trained policy from a checkpoint? If yes, how would I do that? I saw there was a tutorial on how to evaluate a checkpoint, but I want to visually inspect the learned policy too.

[2022-04-11 17:47] Lucaweihs commented on #343
Hi @hai-h-nguyen,

This definitely should be possible depending on the type of visualization you're looking for. A few quick questions:
1. What environment are you training on?
2. What type of visualizations do you want? E.g.
 * Do you want to run your model on a single task in a loop just to get a sense of what it's doing?
 * Do you want to run your model on a whole bunch of episodes, save the re

[2022-04-11 19:07] hai-h-nguyen commented on #343
Hi, thanks for a quick reply.

1. I am training in my custom environments.
2. I am looking for the first option - to get a sense of what it's doing. I also wish to make a video later but I can just use a screen recording software for that purpose.
3. Thanks I will look into those pointers first.

[2022-04-12 14:18] hai-h-nguyen commented on #343
Thanks, I am able to visualize the policy using InferenceAgent.

[2022-04-12 14:18] #343 closed

[2022-04-25 18:39] suvaansh opened #346 "Code is getting stuck after few iterations"

[2022-05-05 04:54] apoorvkh commented on #346
I have transferred this issue to allenai/allenact, because the robothor-objectnav branch in allenai/embodied-clip (that you are training from) is exactly equivalent to allenact v0.5.0.

[2022-05-05 05:21] jordis-ai2 commented on #346
Hi @suvaansh,

Just for a sanity check, can you try running with `CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7`?

[2022-05-05 05:49] suvaansh commented on #346
Hi @jordis-ai2 , I tried running with `CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7`. The code is still freezing like before. I also tried using a single gpu, that also doesn't work.

I forgot to notify one thing. I changed the default value of `headless` to True in [line](https://github.com/allenai/allenact/blob/474fb84789fcdd3917fbc006365653971994e93f/projects/objectnav_baselines/experiments/objectnav_t

[2022-05-05 06:26] jordis-ai2 commented on #346
May I also ask you to share the output of `nvidia-smi` and `ps aux | grep Xorg` after `sudo ai2thor-xorg start`?

[2022-05-05 06:47] suvaansh commented on #346
This command gives the following error `sudo: ai2thor-xorg: command not found`
So I used the startx.py script for starting the Xorg.

The asked outputs are attached:
![image](https://user-images.githubusercontent.com/22363521/166874427-453ed635-328c-457a-86d5-db0dca46f790.png)
![image](https://user-images.githubusercontent.com/22363521/166874481-7277de57-1790-499c-a341-d95f9531711e.png)

[2022-05-05 07:09] jordis-ai2 commented on #346
That looks good 👍 I would try to start training without headless mode, if that's an option. I would use a subset of the available x_displays in

https://github.com/allenai/allenact/blob/474fb84789fcdd3917fbc006365653971994e93f/projects/objectnav_baselines/experiments/objectnav_thor_base.py#L237

In my experience, the display and cuda device orders are usually aligned, so my first try would be to s

[2022-06-23 14:51] SamsonYuBaiJian opened #349 "Some depth values are not within the 0-5 range for RoboTHOR's DepthSensorThor"
## Problem

I have been trying to get a checkpoint working in a real-world setup, and to do so I was trying to make sure I follow the processing/normalization steps in VisionSensor in 'allenact/embodiedai/sensors/vision_sensors.py' for RoboTHOR's DepthSensorTHOR.

I think the value range for the input depth observation into DepthSensorTHOR from AI2-THOR is supposed to be [0, 5] and the range of De

[2022-06-23 15:39] jordis-ai2 commented on #349
Hi @SamsonYuBaiJian,

Thanks for the very detailed description of the issue!

My actual understanding of the action space ranges is that they provide a coarse idea about the expected output ranges (it's common to set the supremum to `+np.inf` and the infimum to `-np.inf` for real-valued outputs).

The units are meters, as in [https://ai2thor.allenai.org/ithor/documentation/environment-state/#event

[2022-06-23 16:20] SamsonYuBaiJian commented on #349
Thanks @jordis-ai2 for the very fast response, you have answered my question.

[2022-06-23 16:20] #349 closed, assigned to nobody

[2022-06-26 16:45] brandontrabucco commented on #346
Hi allenact team,

I'm having a similar problem when attempting to train an embodied-clip model using allenact.

I'm running the following command:

`allenact -o rearrange_out -m 1 -b . baseline_configs/one_phase/one_phase_rgb_clipresnet50_dagger.py`

The code seems to get stuck when initializing the AI2-THOR controller. Below you can find the stack trace after I use CTRL+C to interrupt the script

[2022-06-27 18:04] Lucaweihs commented on #346
Hi @brandontrabucco,

Thanks for the bug report, I've seen it happen before for rearrangement that it can freeze when starting many AI2-THOR processes on some machines. Can you try lowering the number of processes you're starting during training and checking if that fixes the issue? You can do this by editing the `IL_PIPELINE_TYPE = "40proc"` constant in the `one_phase_rgb_clipresnet50_dagger.py`

[2022-08-11 06:38] pioneer-innovation opened #351 "procthor"
Hi,
I have read the paper of procthor which is an amazing embodied AI platform. I'm wondering if allenact plan to support this platform.

[2022-08-11 09:09] jordis-ai2 commented on #351
Hi @pioneer-innovation. Thank you so much for your interest in ProcTHOR and AllenAct. ProcTHOR support in AllenAct is being worked on, so we'll hopefully provide an initial version soon.

[2022-08-11 09:29] pioneer-innovation commented on #351
Thank you! That would be wanderful!

[2022-11-22 10:43] jiwook-jung opened #356 "How to install and run habitat plugin"
## Problem / Question
I'd like to run your code with habitat_plugin.
Could you please guide how to install and run habitat plugin in your allenact SW?

I followed the below instruction command.
https://allenact.org/installation/installation-framework/#installation-of-habitat

command history
===================================================================
 2033  git clone -b habitat-2022 --sing

[2022-11-23 11:58] jordis-ai2 commented on #356
Hi @jiwook-jung,

Thanks for reaching out. Given the error message, I tried modifying `conda/environment-base.yml` to use `python=3.6` instead of `3.8` before creating the conda environment and the `habitat_plugin` update didn't fail on my side. I also use [mamba](https://github.com/mamba-org/mamba) instead of plain `conda` to install everything, so give it a try if any step fails.

I hope this un

[2022-11-25 08:03] andykim0723 opened #357 "How to create custom dataset for object navigation and rearrangement?"
I am trying to customize existing floorplans. I am trying to change object's color and put new object in the room. I am customizing environment using unity following [ai2thor github](https://github.com/allenai/ai2thor/tree/main/unity). I am able to make "FloorPlan_physics.unity" file here but have no clue how to convert it to object navigation/rearrangement dataset.
How do I create ".pkl.gz" datas

[2022-11-30 08:31] jordis-ai2 commented on #357
Hi @andykim0723 ,

The [dataset generation script](https://github.com/allenai/ai2thor-rearrangement/blob/main/datagen/datagen_runner.py) in `ai2thor-rearrangement` shows how to generate datasets for that task. For ObjectNav, I'd suggest using this script as a starting point. Let me know if this works for you.